{{- /*  Initialize. */}}
{{- $asset := "" }}
{{- $wrapBlock := false }}

{{- /* Get params: (0) asset path, (1) optional "block" to wrap in <p> for paragraph spacing. */}}
{{- with (.Get 0) }}
  {{- $asset = . }}
{{- else }}
  {{- errorf "The %q shortcode requires a single positional parameter; the relative path to a file in the assets directory. See %s" .Name .Position}}
{{- end }}
{{- with (.Get 1) }}
  {{- if eq (lower .) "block" }}{{ $wrapBlock = true }}{{ end }}
{{- end }}

{{- /* Get resource. */}}
{{- $r := "" }}
{{- with resources.Get $asset }}
  {{- $r = . }}
{{- else }}
  {{- errorf "The %q shortcode was unable to find %q. See %s" .Name $asset .Position}}
{{- end }}

{{- /* Render inline so nested shortcodes (e.g. product name) stay inline; optional wrap in <p> for paragraph. */}}
{{- $html := $r.Content | .Page.RenderString | chomp }}
{{- if $wrapBlock }}
  {{- (printf "<p>%s</p>" $html) | safeHTML }}
{{- else }}
  {{- $html }}
{{- end }}